
{% extends 'main/layout.html'%}

{% block title %}Про нас{% endblock %}

{% block content %}
    <div class ="feature">
        <h1> Про нас  </h1>
        <p class ="dk">Наш сайт о кино - место, где вы найдете все о мире кино. Мы любим и ценим кинематограф, и наша цель - поделиться этой любовью и знаниями с вами. Мы предлагаем свежую информацию о новых фильмах, следим за кинофестивалями и премиями. Не упустите возможность быть в курсе всех новостей киноиндустрии и получить обзоры и рецензии на фильмы, чтобы выбрать, что посмотреть вечером.</p>
        <p class ="dk">Наша команда экспертов следит за различными кинофестивалями и премиями, чтобы предоставить вам самую полную информацию о номинантах и победителях. Мы также предлагаем обзоры и рецензии на новые и классические фильмы, чтобы помочь вам выбрать, что посмотреть в вечер выходных. </p>
        <p class ="dk">Мы надеемся, что наша страсть к кино передается через наш сайт и помогает вам насладиться этим удивительным искусством так же, как мы. Будем рады, если вы найдете на нашем сайте что-то новое и увлекательное для себя.</p>
        <p class ="dkk">Добро пожаловать на наш сайт о кино!</p>
        <a class="qwe" href="{% url 'news_home'%}" ><button class ="btn btn-danger" type="sumbit"> На страницу новости </button></a>
        <a class="qwe" href="{% url 'home'%}" ><button class ="btn btn-danger" type="sumbit"> Вернуться на главную </button></a>

    </div>
{% endblock %}