{% extends 'main/layout.html'%}

{% block title %}{{ title}}{% endblock %}

{% block content %}
    <div class ="feature">
        <h1>{{ title }} </h1>
        <p class ="dk">На нашей сайте вы найдете самую свежую и актуальную информацию о мире кино. У нас вы сможете получить доступ к обзорам фильмов, рекомендациям к просмотру, интересным фактам, новостям и многому другому.</p>
        <p class ="dk">Мы стараемся охватить различные жанры и страны, чтобы наши посетители могли насладиться разнообразием мирового кинематографа. У нас есть обзоры классических шедевров, новинок премьерного показа, а также независимых и малоизвестных произведений искусства.</p>
        <p class ="dk">Наши рекомендации помогут вам выбрать фильм для просмотра вечером или на выходных. Мы учитываем интересы различных возрастных групп и предлагаем фильмы для всех мест и настроений.</p>
        <p class ="dk">Мы надеемся, что наш сайт поможет вам найти новые фильмы для просмотра, узнать больше о вашей любимой индустрии и поделиться своими впечатлениями с другими киноманами. Добро пожаловать в мир кино на нашем сайте! </p>
        <a class="qwe" href="{% url 'news_home'%}" ><button class ="btn btn-danger" type="sumbit"> На страницу новости </button></a>
        <a class="qwe" href="{% url 'about'%}" ><button class ="btn btn-danger"> На страницу про нас </button></a>
    </div>



{% endblock %}