{% extends 'main/layout.html'%}
{% block title %} {{article.title}}  {% endblock %}
{% block content %}
    <div class ="feature ">
        <h1>{{article.title}}</h1>
        <p>{{article.date}}</p>
        <p>{{article.full_text}}</p>
        <a href="{% url 'news-delete' article.id %}" class="btn btn-danger"><i class="bi bi-trash"></i> Удалить статью </a>
        <a href="{% url 'news-update' article.id %}" class="btn btn-danger"> <i class="bi bi-brush"></i> Редактировать статью </a>
        <abbr><div >
            <br>
            <p>Понравилось: {{article.likes_set.all.count }}</p>
            <a class="qwe cl" href="{% url 'add_likes' article.id %}"><i class="bi bi-heart-fill"></i> Нравится</a>
            <a class="qwe cl" href="{% url 'del_likes' article.id %}"><i class="bi bi-heart"></i> Не нравится</a>
        </div></abbr>
        <div class = " pt ">
            <div class = "form-comment">
                <h3>Оставить мини-отзыв :</h3>
                <div>
                    <form action="{% url 'add_comments' article.id %}" method = "post">
                        {% csrf_token %}
                        <div>
                            <label>Ваше имя* :</label>
                            <input type ="text" name="name"></div>
                        <div><p>
                            <label>Ваше Email* :</label>
                            <input type ="email" name="email">
                        </p></div>
                        <div><p>
                            <label>Комментарий :</label>
                            <textarea name="text_comments"></textarea>
                        </p></div>
                        <div><p><input type ="submit" class="btn btn-danger"></p></div>
                    </form>
                </div>
            </div>
        <div>
            <div class = "view-comment vyr tyr"><h3> Мини-отзывы зрителей : </h3></div>
            {% for comment in article.comments_set.all %}
                <div class = "view-comment vyr fer">
                    <h4>{{comment.name}}</h4>
                    <p><div class = "vyr">{{comment.text_comments}}</div>
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}